<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{#block "title"}}DEFAULT TITLE{{/block}}</title>
  </head>
  <body>
    <header>
    {{#block "header"}}
      DEFAULT HEADER
    {{/block}}
    </header>

    <main>
    {{#block "main"}}
      DEFAULT MAIN
    {{/block}}
    </main>

    <footer>
    {{#block "footer"}}
      DEFAULT FOOTER
    {{/block}}
    </footer>
  </body>
</html>
