{{#extends 'partials/layout-1'}}

  {{#block 'main'}}
      {{#parent}}{{/parent}}
      <article class="extends-2">
        <h1>{{title}}</h1>
        BODY
      </article>
  {{/block}}

{{/extends}}
